/* body {
  overflow-y: hidden; 
  overflow-x: hidden; 
} */

/* .example::-webkit-scrollbar {
  display: none;
} */

/* .body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
